body {
    background: #edeef0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}


.text {
    font-size: 20px;
    height: 30px;
    text-align: center;
    background-color: white;
}
.type{
    color:#2787F5;
    font-size: 10px;
}

.accordionMenu {
    width: 500px;
    margin: auto;
}

.accordionMenu input[type=radio] {
    display: none;
}

.accordionMenu label {
    display: block;
    height: 120px;
    line-height: 47px;
    padding: 0 25px 0 10px;
    border-radius: 1%;
    border: 5px solid white;
    text-indent: 18px;
    background: #FFFFFF;
    color:#2787F5;
    font-weight:bold;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
}

.accordionMenu label::after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #2787F5;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.accordionMenu .content {
    max-height: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.accordionMenu .content .inner {
    font-size: 1rem;
    color: #000000;
    line-height: 1.5;
    background: white;
    padding: 20px 10px;
}

.accordionMenu input[type=radio]:checked+label:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accordionMenu input[type=radio]:checked+label+.content {
    max-height: 2000px;
    height: auto;
}
